.burger-btn {
	position: fixed;
	top: 20px;
	left: 20px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	z-index: 9999;

	@media (--tablet) {
		top: 50px;
		left: 65px;
		width: 60px;
		height: 60px;
	}

	@media (--laptop) {
		top: 6.5vh;
		left: 45px;
	}

	&._active, &:hover {
		svg {
			.cls-1 {
				stroke: white;
			}
			.cls-2 {
				fill: white;
			}
		}
	}

	svg {
		width: 100%;
		height: 100%;
		

		.cls-1 {
			fill: none;
			stroke: #fefefe;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: 1px;
			transition: 400ms;
		}
		.cls-2 {
			fill: #fefefe;
			transition: 400ms;
		}
	}
}