.cream {

	&__wrapper {

	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 90px 0;

		@media (--tablet) {
			margin-bottom: 0;
		}

		@media (--laptop) {
			margin-bottom: 90px;
		}
	}

	&__list-item {
		width: 33%;

		@media (--tablet) {
			width: 100%;
			margin: 0 0 25px 0;
		}

		@media (--laptop) {
			width: 33%;
			margin-bottom: 0;
		}

		&._without {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_without.svg');
				}
			}
		}

		&._one {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_porciya_slivok.svg');
				}
			}
		}

		&._two {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_dve_porcii_slivok.svg');
				}
			}
		}

		input[type="radio"] {
			display: none;

			&:checked ~ label {
				&:after {
					content: '';
					transform: translate(-50%, 0) rotate(135deg);
					opacity: 1;
				}
			}
		}

		label {
			position: relative;
			display: block;
			padding: 190px 10px 0 10px;
			text-align: center;

			&:hover {
				&:after {
					content: '';
					transform: translate(-50%, 0) rotate(135deg);
					opacity: 1;
				}
			}

			span {
				display: block;
				font: 18px/28px var(--fspBook);
				color: white;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				display: block;
				width: 150px;
				height: 150px;
				border-radius: 50%;
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
			}

			&:after {
				content: '';
				position: absolute;
				top: -20px;
				left: 50%;
				transform: translate(-50%, 0);
				display: block;
				opacity: 0;
				width: 195px;
				height: 195px;
				background: resolve('coffee-circle.svg') center/100% no-repeat;
				transition: 400ms;
			}
		}
	}
}