.form {

	&__submit {
		display: block;
		padding: 0 28px;
		border: 6px solid white;
		text-transform: uppercase;
		font: 19px/40px var(--fspBold);
		color: white;
		background: #de806a;
		cursor: pointer;

		@media (--tablet) {
			margin: 0 auto;
			font-size: 22px;
		}

		@media (--laptop) {
			margin-right: 45px;
			margin-left: auto;
			font-size: 19px;
		}
	}
}