.form {

	&__submit {
		display: block;
		margin: 0 auto 25px auto;
		padding: 0 20px;
		text-transform: uppercase;
		font: 13px/30px var(--fspBold);
		color: white;
		background: #de806a;
		cursor: pointer;

		@media (--tablet) {
			margin-bottom: 0;
			padding: 0 28px;
			border: 6px solid white;
			font-size: 22px;
			line-height: 40px;
		}

		@media (--laptop) {
			margin-right: 45px;
			margin-left: auto;
			font-size: 19px;
		}
	}
}