.index-page {
	position: relative;
	background-image: resolve('index-bg.svg');
	background-position: calc(50% + 40px) 100%;
	background-size: 965px;
	background-repeat: no-repeat;

	&__wrapper {
		height: 100vh;
		padding-top: 50px;
	}
}