.order {

	.container {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 50px;
	}

	.social-block {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 50px;

		@media (--tablet) {
			margin-bottom: 100px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 0 100px 0;
		padding: 50px 0 0 0;

		@media (--tablet) {
			height: calc(100vh - 200px);
			flex-direction: column;
			justify-content: center;
			margin-bottom: 0;
			padding: 0;
		}

		@media (--laptop) {
			flex-direction: row;
			justify-content: space-between;
			height: auto;
			margin-bottom: 135px;
		}
	}

	&__info {
		position: relative;
		width: 100%;
		height: 310px;
		padding: 0 235px 0 0;
		margin-bottom: 80px;

		@media (--mobile) {
			flex-basis: 350px;
			margin: 0 auto 80px auto;
		}

		@media (--tablet) {
			flex-basis: auto;
			width: 100%;
			height: 360px;
			margin-bottom: 70px;
			padding-right: 215px;
		}

		@media (--laptop) {
			width: 400px;
			height: 400px;
			padding-right: 235px;
			margin-bottom: 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 160px;
			height: 100%;
			background: resolve('zakaz.svg') no-repeat;
			background-size: 100%;
			z-index: 9;

			@media (--tablet) {
				width: 185px;
			}

			@media (--laptop) {
				width: 205px;
			}
		}

		&-title {
			position: absolute;
			top: 50px;
			right: -25px;
			width: 220px;
			text-align: center;
			font: 22px/26px var(--fspBold);
			color: white;

			@media (--tablet) {
				top: 40px;
				font-size: 24px;
			}

			@media (--laptop) {
				top: 85px;
				font-size: 30px;
			}
		}
	}

	&__info-list {
		position: absolute;
		bottom: 12px;
		right: 0;
		width: 250px;
		z-index: 1;

		@media (--tablet) {
			width: 300px;
		}
	}

	&__info-item {
		position: relative;
		margin: 0 0 10px 0;
		padding: 0 0 3px 0;
		text-align: right;
		font: 13px/21px var(--fspBook);
		color: white;
		transition: 400ms;

		@media (--tablet) {
			margin-bottom: 20px;
			font-size: 17px;
		}

		&._cream, &._topping, &._mug, &._sugar, &._coffee {
			opacity: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			display: block;
			width: 100%;
			height: 3px;
			background: white;
		}
	}

	&__queue {
		display: inline-flex;
		justify-content: center;
		margin: 0 auto;

		@media (--tablet) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@media (--laptop) {
			display: block;
			flex-basis: 180px;
		}

		span {
			display: block;
			width: 90px;
			height: 50px;
			padding: 0 10px;
			border-radius: 15px;
			text-align: center;
			font: 42px/50px var(--fspBold);
			color: black;
			background: white;

			@media (--tablet) {
				width: 150px;
				height: 90px;
				border-radius: 25px;
				font-size: 70px;
				line-height: 90px;
			}
		}
	}

	&__queue-title {
		display: inline-block;
		max-width: 140px;
		margin-right: 30px;
		font: 22px/26px var(--fspBold);
		color: white;

		@media (--tablet) {
			max-width: 190px;
			font-size: 30px;
			line-height: 34px;
		}

		@media (--laptop) {
			max-width: 100%;
			margin-bottom: 70px;
		}
	}
}




