.social-block {
	position: absolute;
	top: 25px;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (--tablet) {
		top: 10px;
		right: 25px;
	}

	@media (--laptop) {
		position: relative;
		top: 0;
		right: 0;
	}

	&__item {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		margin: 0 15px 0 0;
		border-radius: 50%;

		@media (--tablet) {
			width: 45px;
			height: 45px;
			margin-right: 20px;
		}

		&:last-child {
			margin-right: 0;
		}

		&._order-block {
			width: 40px;
			height: 40px;
			margin-right: 10px;

			&._fb {
				svg {
					width: 11px;
					height: 22px;
				}
			}

			&._vk {
				svg {
					width: 25px;
					height: 15px;
				}
			}

			&._inst {
				svg {
					width: 25px;
					height: 25px;
				}
			}
		}

		&._fb {
			background: #3ba2ad;

			svg {
				width: 9px;
				height: 20px;

				@media (--tablet) {
					width: 13px;
					height: 27px;
				}
			}
		}

		&._vk {
			background: #2e858f;

			svg {
				width: 21px;
				height: 12px;

				@media (--tablet) {
					width: 30px;
					height: 17px;
				}
			}
		}

		&._inst {
			background: #c34844;

			svg {
				width: 21px;
				height: 21px;

				@media (--tablet) {
					width: 28px;
					height: 28px;
				}
			}
		}

		&:hover {
			svg {
				opacity: 1;
			}
		}

		svg {
			fill: white;
			opacity: .6;
			transition: 400ms;
		}
	}
}