.sugar {

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@media (--mobile) {
			justify-content: flex-start;
		}

		@media (--tablet) {
			justify-content: center;
		}

		@media (--laptop) {
			justify-content: flex-start;
		}
	}

	&__list-item {
		width: 50%;
		margin-bottom: 40px;

		@media (--mobile) {
			width: 33%;
		}

		@media (--tablet) {
			width: 50%;
			margin-bottom: 25px;
		}

		@media (--laptop) {
			width: 20%;
			margin-bottom: 0;
		}

		&._without {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_without.svg');
				}
			}
		}

		&._half-spoon {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_pol_logki.svg');
				}
			}
		}

		&._one-spoon {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_logka.svg');
				}
			}
		}

		&._one-half-spoon {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_poltory_logki.svg');
				}
			}
		}

		&._two-spoon {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_dve_logki.svg');
				}
			}
		}

		input[type="radio"] {
			display: none;

			&:checked ~ label {
				&:after {
					content: '';
					transform: translate(-50%, 0) rotate(135deg);
					opacity: 1;
				}
			}
		}

		label {
			position: relative;
			display: block;
			padding: 100px 0 0 0;
			text-align: center;

			@media (--tablet) {
				padding-top: 130px;
			}

			@media (--laptop) {
				padding-top: 140px;
			}

			&:hover {
				&:after {
					content: '';
					transform: translate(-50%, 0) rotate(135deg);
					opacity: 1;
				}
			}

			span {
				display: block;
				font: 11px/16px var(--fspBook);
				color: black;

				@media (--tablet) {
					font-size: 18px;
					line-height: 28px;
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				display: block;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;

				@media (--tablet) {
					width: 110px;
					height: 110px;
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: -10px;
				left: 50%;
				transform: translate(-50%, 0);
				display: block;
				opacity: 0;
				width: 100px;
				height: 100px;
				background: resolve('coffee-circle.svg') center/100% no-repeat;
				transition: 400ms;

				@media (--tablet) {
					top: -15px;
					width: 140px;
					height: 140px;
				}
			}
		}
	}
}