.sugar {

	&__wrapper {

	}

	&__list {
		display: flex;
		flex-wrap: wrap;

		@media (--tablet) {
			justify-content: center;
		}

		@media (--laptop) {
			justify-content: flex-start;
		}
	}

	&__list-item {
		width: 20%;

		@media (--tablet) {
			width: 50%;
			margin: 0 0 25px 0;
		}

		@media (--laptop) {
			width: 20%;
			margin-bottom: 0;
		}

		&._without {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_without.svg');
				}
			}
		}

		&._half-spoon {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_pol_logki.svg');
				}
			}
		}

		&._one-spoon {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_logka.svg');
				}
			}
		}

		&._one-half-spoon {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_poltory_logki.svg');
				}
			}
		}

		&._two-spoon {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_dve_logki.svg');
				}
			}
		}

		input[type="radio"] {
			display: none;

			&:checked ~ label {
				&:after {
					content: '';
					transform: translate(-50%, 0) rotate(135deg);
					opacity: 1;
				}
			}
		}

		label {
			position: relative;
			display: block;
			padding: 140px 0 0 0;
			text-align: center;

			@media (--tablet) {
				padding-top: 170px;
			}

			@media (--laptop) {
				padding-top: 140px;
			}

			&:hover {
				&:after {
					content: '';
					transform: translate(-50%, 0) rotate(135deg);
					opacity: 1;
				}
			}

			span {
				display: block;
				font: 18px/28px var(--fspBook);
				color: black;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				display: block;
				width: 110px;
				height: 110px;
				border-radius: 50%;
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;

				@media (--tablet) {
					width: 140px;
					height: 140px;
				}

				@media (--laptop) {
					width: 110px;
					height: 110px;
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: -15px;
				left: 50%;
				transform: translate(-50%, 0);
				display: block;
				opacity: 0;
				width: 140px;
				height: 140px;
				background: resolve('coffee-circle.svg') center/100% no-repeat;
				transition: 400ms;

				@media (--tablet) {
					width: 170px;
					height: 170px;
				}

				@media (--laptop) {
					width: 140px;
					height: 140px;
				}
			}
		}
	}
}