.type-coffee {

	&__list {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		@media (--tablet) {
			justify-content: space-between;
		}

		@media (--laptop) {
			justify-content: flex-start;
		}
	}

	&__list-item {
		width: 50%;
		margin: 0 0 20px 0;

		@media (--mobile) {
			width: 33%;
		}

		@media (--tablet) {
			width: 45%;
			margin-bottom: 30px;
		}

		@media (--laptop) {
			width: 25%;
		}

		&._espresso {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_espresso.svg');
				}
			}
		}
		&._double-espresso {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_double-espresso.svg');
				}
			}
		}
		&._short-macchiato {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_short-macchiato.svg');
				}
			}
		}
		&._cappuccino {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_cappuccino.svg');
				}
			}
		}
		&._cafelatte {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_cafélatte.svg');
				}
			}
		}
		&._mocha {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_mocha.svg');
				}
			}
		}
		&._piccololatte {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_piccololatte.svg');
				}
			}
		}
		&._americano {
			label {
				&:before {
					content: '';
					background-image: resolve('ic_americano.svg');
				}
			}
		}

		input[type="radio"] {
			display: none;

			&:checked ~ label {
				&:after {
					content: '';
					transform: translate(-50%, 0) rotate(135deg);
					opacity: 1;
				}
			}
		}

		label {
			position: relative;
			display: block;
			padding: 90px 10px 0 10px;
			text-align: center;

			@media (--tablet) {
				padding-top: 130px;
			}

			@media (--laptop) {
				padding-top: 140px;
			}

			&:hover {
				&:after {
					content: '';
					transform: translate(-50%, 0) rotate(135deg);
					opacity: 1;
				}
			}

			span {
				display: block;
				font: 11px/13px var(--fspBook);
				color: black;

				@media (--tablet) {
					font-size: 18px;
					line-height: 28px;
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				display: block;
				width: 75px;
				height: 75px;
				border-radius: 50%;
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;

				@media (--tablet) {
					width: 110px;
					height: 110px;
				}

				@media (--laptop) {
					width: 120px;
					height: 120px;
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: -10px;
				left: 50%;
				transform: translate(-50%, 0);
				display: block;
				opacity: 0;
				width: 95px;
				height: 95px;
				background: resolve('coffee-circle.svg') center/100% no-repeat;
				transition: 400ms;

				@media (--tablet) {
					top: -15px;
					width: 140px;
					height: 140px;
				}

				@media (--laptop) {
					width: 150px;
					height: 150px;
				}
			}
		}
	}
}